albumentations
colorama
ctypes_snappy
cupy_cuda12x
einops
evalutils
h5py
matplotlib
natsort
numba
numpy
opencv-python-headless
openslide-bin
openslide-python
pandarallel
pandas
pathopatch
Pillow
pycaret
pycm
pydantic
pyvips
PyYAML
ray
Requests
schema
scikit_image
scikit_learn
scipy
Shapely
tabulate
tifffile
timm
torchinfo
torchmetrics
torchstain
tqdm
typing_extensions
ujson
ijson
wandb
openpyxl
git+https://github.com/DIAGNijmegen/pathology-whole-slide-data@main
torch==2.2.2+cu121
torchvision==0.17.2+cu121
torchaudio==2.2.2+cu121
--extra-index-url https://download.pytorch.org/whl/cu121