numpy
pathlib
tqdm
typing
creationism
Cython
pillow==9.5.0
openslide-python
openslide-bin
git+https://github.com/DIAGNijmegen/pathology-whole-slide-data@main # pathology-whole-slide-data
torch==1.10.1+cu111
torchvision==0.11.2+cu111
torchaudio==0.10.1
